@page "/allboards"
@using System.Net
@inherits Infrastructure.Bases.BoardsOverviewBase

@if (FullBoard == null)
{
    <p><em>Loading...</em></p>
}
else if (FullBoard.Threads == null)
{
    <h1 class="page-title">All Boards</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Board</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in FullBoard.Boards.boards)
            {
                <tr>
                    <td><button type="button" @onclick="@(async ()=>await GetThreads(board.board).ConfigureAwait(false))">Download All</button></td>
                    <td>
                        <button type="button" @onclick="@(async ()=>
                                                    {
                                                        FullBoard.CurrentBoard = board.board;
                                                        await GetThreads(board.board).ConfigureAwait(false);
                                                    })">
                            Expand
                        </button>
                    </td>
                    <td>@board.board</td>
                    <td>@WebUtility.HtmlDecode(board.meta_description)</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (FullBoard.Threads != null && FullBoard.Posts == null)
{
    <h1 class="page-title">@FullBoard.CurrentBoard</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Thread Id</th>
                <th>Subject</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in FullBoard.Threads)
            {
                foreach (var thread in page.threads)
                {
                    <tr>
                        <td><button type="button" @onclick="@(async ()=>await GetThreadPosts(FullBoard.CurrentBoard,thread.tim).ConfigureAwait(false))">Download All</button></td>
                        <td>
                            <button type="button" @onclick="@(async () =>
                                                            {
                                                                FullBoard.CurrentThreadId = thread.no;
                                                                FullBoard.CurrentThreadName = !string.IsNullOrEmpty(thread.sub)?thread.sub:"Misc";
                                                                await GetThreadPosts(FullBoard.CurrentBoard, thread.no).ConfigureAwait(false);
                                                            })">Expand</button>
                        </td>
                        <td>@thread.no</td>
                        <td>@thread.sub</td>
                        <td>@thread.com</td>
                    </tr>
                }

            }
        </tbody>
    </table>
}
else if (FullBoard.Threads != null && FullBoard.Posts != null)
{
    <h1 class="page-title">@FullBoard.CurrentThreadName</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Post Id</th>
                <th>File Name</th>
                <th>File Extension</th>
                <th>File Size(KB)</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in FullBoard.Posts)
            {
                @if (post.fsize > 1)
                {
                    <tr>
                        <td><button type="button" @onclick="@(async () => await DownloadPost("D:\\ImageDump", FullBoard.CurrentBoard, FullBoard.CurrentThreadName, post).ConfigureAwait(false))">Download</button></td>
                        <td>@post.no</td>
                        <td>@post.filename.Trim()</td>
                        <td>@post.ext</td>
                        <td>@ConvertBytesToKiloBytes(post.fsize)</td>
                        <td>@post.com</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}