@page "/allboards"
@using System.Net
@using Framework.Enums
@inherits Infrastructure.Bases.BoardsOverviewBase

@switch (FullBoard?.CurrentStage)
{
    case LoadingStage.Initializing:
    case null:
        <p><em>Loading...</em></p>
        break;

    case LoadingStage.Boards:
        <h1 class="page-title">All Boards</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Board</th>
                    <th>Description</th>
                    <th>Number of Threads</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var board in FullBoard.Boards.boards)
                {
                    <tr>
                        <td><button type="button" @onclick="@(async () => await DownloadBoardPosts(board.board))">Download All</button></td>
                        <td><button type="button" @onclick="@(async ()=> await ExpandBoardThreads(board.board))">Expand</button></td>
                        <td>@board.board</td>
                        <td>@WebUtility.HtmlDecode(board.meta_description)</td>
                        <td>@(board.pages*board.per_page)</td>
                    </tr>
                }
            </tbody>
        </table>
        break;

    case LoadingStage.Threads:
        <h1 class="page-title">@FullBoard.CurrentBoard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Thread Id</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Number of Posts</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var page in FullBoard.Threads)
                {
                    foreach (var thread in page.threads)
                    {
                        <tr>
                            <td><button type="button" @onclick="@(async()=>await DownloadThreadPosts(thread))">Download All</button></td>
                            <td><button type="button" @onclick="@(async () =>await ExpandThreadPosts(thread))">Expand</button></td>
                            <td>@thread.no</td>
                            <td>@thread.sub</td>
                            <td>@thread.com</td>
                            <td>@thread.images</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        break;

    case LoadingStage.Posts:
        <h1 class="page-title">@FullBoard.CurrentThreadName</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Post Id</th>
                    <th>File Name</th>
                    <th>File Extension</th>
                    <th>File Size(KB)</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in FullBoard.Posts)
                {
                    @if (post.fsize > 1)
                    {
                        <tr>
                            <td><button type="button" @onclick="@(async () => await DownloadPost( FullBoard.CurrentBoard, FullBoard.CurrentThreadName, post).ConfigureAwait(false))">Download</button></td>
                            <td>@post.no</td>
                            <td>@post.filename.Trim()</td>
                            <td>@post.ext</td>
                            <td>@ConvertBytesToKiloBytes(post.fsize)</td>
                            <td>@post.com</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        break;

    default:
        <p><em>Error, unmatched loading stage</em></p>
        break;
}
